<ion-header>
  
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/home"></ion-back-button>
    <ion-title>Editar</ion-title>
    <ion-text slot="end" (click)="nada()" color="primary"><b>Listo</b></ion-text>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <form >
      <ion-item>
        <ion-input value="xd" placeholder="Nombre Usuario: "></ion-input>
      </ion-item>
      <ion-item>
        <ion-input  value="xd" placeholder="INFO"></ion-input>
      </ion-item>
    </form>
    
  
  </ion-list>
</ion-content>
